<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/style-rtl.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons-rtl.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/et-line.css" type="text/css" />

	<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />
	<link rel="stylesheet" href="/css/components/radio-checkbox.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive-rtl.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=e83c3c" type="text/css" />

	<!-- Hosting Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- / -->

	<link rel="icon" href="data:;base64,=">

	<!-- Document Title
	============================================= -->
	<title>Nahif Network</title>

</head>

<body class="stretched rtl">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix"> 

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="images/logo-dark.webp"><img src="images/logo.webp" alt="Nahif Network Logo"></a>
						<a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Nahif Network Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="not-dark with-arrows">

						<ul class="not-dark">
							<li><a href="/"><div>الرئيسية</div></a></li>
							<li class="mega-menu"><a href="#"><div>خدمات</div></a>
								<!-- Mega Menu Content
								============================================= -->
								<div class="mega-menu-content style-2 border-top-0 clearfix">
									<!-- Mega Menu Col 1 -->
									<ul class="mega-menu-column col-lg-2">
										<%# <li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="demos/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="/services2">شبكة مشتركة</a></h3>
												<p class="d-none d-lg-block mb-0 t300">من خلال شبكة اتصالات نحف نستطيع التحكم بجميع الأجهزة الصوتية والمراقبة وغيرها من أجهزة موزعة بجميع أنحاء البلد, يمكن بواستطها فعل الكثير مثل تفعيل الاذان في نفس الوقت.</p>
												<a href="/services2" class="btn btn-link mt-2 color p-0">لمزيد من المعلومات &#8250;</a>
											</div>
										</li> %>
									</ul>
									<!-- Mega Menu Col 2 -->
									<ul class="mega-menu-column col-lg-4">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="demos/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="/services1">انترنت</a></h3>
												<p class="d-none d-lg-block mb-0 t300" style="font-size: 17px; color:#015">تكنولوجيا الألياف البصرية المنزلية تمكنك من الحصول على أسرع انترنت في البلاد يصل الى 1000 ميغا! تقنية تنقل البيانات داخل أسلاك زجاجية بسرعات عالية جدا تعادل سرعة الضوء.</p>
												<a href="/services1" class="btn btn-link mt-2 color p-0">لمزيد من المعلومات &#8250;</a>
											</div>
										</li>
									</ul>
									<!-- Mega Menu Col 3 -->
									<ul class="mega-menu-column col-lg-4">
										<li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="demos/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="/services3">محطات فضائية</a></h3>
												<p class="d-none d-lg-block mb-0 t300" style="font-size: 17px; color:#015">باقة من أفضل وأشهر محطات الانترنت بدقة عالية الوضوح, أكثر من 200 قناة مسلسلات, أفلام, أطفال, سبورت, اسرائيلية مع قناة محلية لبلدة نحف.</p>
												<a href="/services3" class="btn btn-link mt-2 color p-0">لمزيد من المعلومات &#8250;</a>
											</div>
										</li>
									</ul>
									<!-- Mega Menu Col 4 -->
									<ul class="mega-menu-column col-lg-2">
										<%# <li>
											<div class="feature-box not-dark fbox-small fbox-center nobottommargin">
												<div class="fbox-icon">
													<img src="demos/hosting/images/svg/support.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
												</div>
												<h3 class="t500"><a href="/services4">اعلانات محلية</a></h3>
												<p class="d-none d-lg-block mb-0 t300">تستطيع الوصول الى كل سكان نحف في التلفزيون, الراديو, الشاشات المحلية وغيرها لتنشر رسالتك وعملك بسهولة, ان كان هدفك الحصول على زبائن أو نشر رسالة.</p>
												<a href="/services4" class="btn btn-link mt-2 color p-0">لمزيد من المعلومات &#8250;</a>
											</div>
										</li> %>
									</ul>
								</div>
							</li>
							<li><a href="/contact"><div>تواصل معنا</div></a></li>
						</ul>

						<!-- Top Search
						============================================= -->
						<a href="tel:0549455600" class="button bg-white text-dark button-light button-rounded color">054-945-5600</a>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->