<% include partials/header %>
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>تواصل معنا</h1>
				<span>متمركزين في نحف - شمال اسرائيل</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">رئيسية</a></li>
					<li class="breadcrumb-item active" aria-current="page">تواصل</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu">

			<div id="page-menu-wrap">

				<div class="container clearfix">

					<div class="menu-title">معلومات <span>الاتصال</span></div>

					<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				</div>

			</div>

		</div><!-- #page-menu end -->

		<!-- Contact Form & Map Overlay Section
		============================================= -->
		<section id="map-overlay">

			<div class="container clearfix">

				<!-- Contact Form Overlay
				============================================= -->
				<div id="contact-form-overlay-mini" class="clearfix">

					<div class="fancy-title title-dotted-border">
						<h3>اكتب رسالة</h3>
					</div>

					<div class="form-widget">

						<div class="form-result"></div>

						<!-- Contact Form
						============================================= -->
						<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/form.php" method="post">

							<div class="col_full">
								<label for="template-contactform-name">الاسم <small>*</small></label>
								<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
							</div>

							<div class="col_full">
								<label for="template-contactform-email">الايميل <small>*</small></label>
								<input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
							</div>

							<div class="clear"></div>

							<div class="col_full">
								<label for="template-contactform-phone">الهاتف</label>
								<input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
							</div>

							<div class="col_full">
								<label for="template-contactform-service">نوع الخدمة</label>
								<select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
									<option value="">-- اختر واحدة --</option>
									<option value="internet">انترنت</option>
									<option value="telephone">خط هاتف</option>
									<option value="channel">محطات انترنت</option>
								</select>
							</div>

							<div class="clear"></div>

							<div class="col_full">
								<label for="template-contactform-message">الرسالة <small>*</small></label>
								<textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
							</div>

							<div class="col_full hidden">
								<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
							</div>

							<div class="col_full">
								<button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">ارسال</button>
							</div>

							<input type="hidden" name="prefix" value="template-contactform-">

						</form>

					</div>


				</div><!-- Contact Form Overlay End -->

			</div>

			<!-- Google Map
			============================================= -->
			<section id="google-map" class="gmap"></section>

		</section><!-- Contact Form & Map Overlay Section End -->
<% include partials/footer %>