<% include partials/header %>
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1> معلومات الاتصال</h1>
				<span>متمركزين في نحف - شمال اسرائيل</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">رئيسية</a></li>
					<li class="breadcrumb-item active" aria-current="page">تواصل</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu">

			<div id="page-menu-wrap">

				<div class="container clearfix">

					<div class="menu-title">تواصل <span>معنا</span></div>

					<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				</div>

			</div>

		</div><!-- #page-menu end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Contact Form
					============================================= -->
					<div class="col_half">

						<div class="fancy-title title-dotted-border">
							<h3>ابعث برسالة</h3>
						</div>

						<div>

							<form class="nobottommargin" id="template-contactform" name="template-contactform" action="/register" method="post">

								<div class="form-process"></div>

								<div class="col_full">
								<label for="template-contactform-name">الاسم الكامل <small>*</small></label>
								<input type="text" id="template-contactform-name" name="name" value="" class="sm-form-control required" />
								</div>
								<div class="clear"></div>

								<div class="col_two_third">
								<label for="template-contactform-phone">الهاتف <small>*</small></label>
								<input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" />
								</div>

								<div class="col_one_third col_last">
									<label for="template-contactform-service">نوع الخدمة</label>
									<select id="template-contactform-service" name="service" class="sm-form-control">
									<option value="internet">انترنت</option>
									</select>
								</div>

								<div class="clear"></div>

								<div class="col_full">
									<label for="message">الرسالة</label>
									<textarea class="sm-form-control" id="message" name="template-contactform-message" rows="6" cols="30"></textarea>
								</div>

								<div class="col_full">
									<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">ارسل</button>
								</div>

								<input type="hidden" name="prefix" value="template-contactform-">

							</form>
						</div>

					</div><!-- Contact Form End -->

					<!-- Google Map
					============================================= -->
					<div class="col_half col_last">

						<section id="google-map1" class="gmap" style="height: 410px;"></section>

					</div><!-- Google Map End -->

					<div class="clear"></div>

					<!-- Contact Info
					============================================= -->
					<div class="row clear-bottommargin">

						<div class="col-lg-3 col-md-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-map-marker2"></i></a>
								</div>
								<h3>مركزنا في<span class="subtitle">نحف, الشمال</span></h3>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="tel:0549455600"><i class="icon-phone3"></i></a>
								</div>
								<h3>اتصل بنا عبر<span class="subtitle">054-446-7194</span></h3>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="icon-email2"></i></a>
								</div>
								<h3>البريد الالكتروني<span class="subtitle">contact@nahif.network</span></h3>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 bottommargin clearfix">
							<div class="feature-box fbox-center fbox-bg fbox-plain">
								<div class="fbox-icon">
									<a href="https://www.facebook.com/mbc.sat.comunication/"><i class="icon-facebook2"></i></a>
								</div>
								<h3>تابعنا على الفيسبوك<span class="subtitle">1k لايك</span></h3>
							</div>
						</div>

					</div><!-- Contact Info End -->

				</div>

			</div>

		</section><!-- #content end -->
<% include partials/footer2 %>