<% include partials/header %>
		
        <section id="page-title">

			<div class="container clearfix">
				<h1>דף לא נמצא</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">בית</a></li>
					<li class="breadcrumb-item active" aria-current="page">404</li>
				</ol>
			</div>

		</section>

        <section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_half nobottommargin">
						<div class="error404 center">404</div>
					</div>

					<div class="col_half nobottommargin col_last">

						<div class="heading-block nobottomborder">
							<h4>אופס.! הדף שחיפשת, לא נמצא.</h4>
							<span>נסה לחפש את ההתאמה הטובה ביותר או לעיין בקישורים הבאים:</span>
						</div>

						<form action="#" method="get" class="nobottommargin">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control" placeholder="Search for Pages...">
								<div class="input-group-append">
									<button class="btn btn-danger" type="button">חיפוש</button>
								</div>
							</div>
						</form>

						<div class="col_one_third widget_links topmargin nobottommargin">
							<ul>
								<li><a href="/">בית</a></li>
								<li><a href="/blog">בלוג</a></li>
							</ul>
						</div>

					</div>

				</div>

			</div>

		</section>
<% include partials/footer %>