<% include partials/header %>
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-angle">

			<!-- Slider Background Cloud
			============================================= -->
			<div class="cloud-wrap">
				<div class="c1"><div class="cloud"></div></div>
				<div class="c2"><div class="cloud"></div></div>
				<div class="c3"><div class="cloud"></div></div>
				<div class="c4"><div class="cloud"></div></div>
				<div class="c5"><div class="cloud"></div></div>
			</div>

			<!-- Slider Titiles
			============================================= -->
			<div class="vertical-middle ignore-header dark">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-5">
							<div class="slider-title">
								<h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">شبكة الألياف البصرية<br> <span class="t-rotate text-white">أوفر,أفضل,أسرع</span> بألف مرة.</h2>
								<p>بواسطة تكتنولوجيا الضوء الحديثة, بلدنا نحف تحصل على تحديث شبكة الاتصالات, لجعلنا الخيار الأفضل والأمثل لاعطائك خدمات الاتصال..</p>
							</div>
							<a href="#" class="button bg-white text-dark button-light button-rounded button-large color ml-0" data-toggle="modal" data-target="#registerModal">اشترك بالخدمة <i class="icon-line-arrow-right t600"></i></a>
						</div>
						<div class="col-md-5 d-none d-md-block">
							<img src="demos/hosting/images/3.webp" alt="">
						</div>
					</div>
				</div>
			</div>

		</section><!-- #slider end -->
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div class="container clearfix">

					<% include modal_register %>

					<!-- Slider negetive Box
					============================================= -->
					<div class="row justify-content-center slider-box-wrap clearfix">
						<div class="col-10">
							<div class="slider-bottom-box">
								<div class="row align-items-center clearfix">
									<div class="col-lg-4 mb-3 mb-lg-0">
										<h2 class="mb-3 h1 t300">مميزات</h2>
										<p class="t400 mb-0" style="color:#015; font-size: 16px;">نحن الأفضل. مشروع وتخطيط لمدة سنين, لسنا بحاجة الى شركات طامعة.</p>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> أحدث التكنولوجيا الضوئية.</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> أسرع انترنت في اسرائيل.</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> 200 محطة Full HD.</li>
										</ul>
									</div>
									<div class="col-lg-4 col-sm-6">
										<ul class="iconlist m-0">
											<li class="pt-3 pt-lg-0"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> خدمة عملاء سريعة.</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> سعر واحد مدى الحياة.</li>
											<li class="pt-3"><img src="demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2"> مركزنا في نحف.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Features Section
					============================================= -->
					<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
						<h2>نقدم لسكان نحف الخدمات الأفضل.</h2>
						<p>خدماتنا هي الأفضل, مركز عملائنا في نحف ومن أجلهم يتم الحرص على كمالية الخدمة وايصال أفضل النتائج المرضية.</p>
					</div>
					<div class="clear"></div>
					<div class="row mt-4 clearfix">
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/web.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">محطات فضائية</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">باقة من أشهر القنوات الفضائية بدقة عالية جدا, مع خدمة تركيب وتصليح أجهزة نوفرها لك بأفضل الأسعار.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/domain.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">اسرع انترنت باسرائيل</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">تكنولوجيا الألياف البصرية توفر لك أنترنت بسرعة الضوء, لذلك مهما كانت المتغيرات أو العوامل المشوشة فسرعة الانترنت لا تتأثر أو تتغير.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="feature-box not-dark fbox-small">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/dedicated.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">أحدث الأجهزة</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">تصلنا الأجهزة من الشركات الرائدة في مجالها من خارج البلاد, تكنولوجيا حديثة تتلائم مع الألياف البصرية.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/shared.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">شبكة مشتركة في كل البلد</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">من أجل جعل بلدنا عظيمة ومتقدمة, يتكفل النظام لدينا بتحكم متزامن في كل جميع المناطق, أي يمكننا بث الفعاليات المختلفة في البلد أو تشغيل الاذان في جميع المساجد مرة واحدة.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/cloud.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">موقع وتطبيق لفحص الحساب</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">نوفر لكل زبون الخدمة الأفضل, راحة الدخول والتحكم بالحساب بسهولة وبسرعة هي ما الا خدمة بسيطة نوفرها للجميع عند الاشتراك.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="feature-box not-dark fbox-small mb-5">
								<div class="fbox-icon">
									<img src="demos/hosting/images/svg/activation.svg" class="noradius nobg tleft" alt="" style="height: 52px;">
								</div>
								<h3 class="t500 text-dark">حماية وخصوصية</h3>
								<p class="t300" style="font-size: 1.2em; color: #015;">شبكة نحف الداخلية, توفر الحماية المطلقة لبياناتك, نوفر الامان والخصوصية لأنها أكثر الأشياء مطلوبة الان في الانترنت بسبب الفيروسات والاختراقات المختلفة للمستخدمين.</p>
							</div>
						</div>
					</div>

				</div>

				<!-- Domain Section
				============================================= -->
				<div class="section section-domain mt-4 mb-3" style="background: #F5F5F5 url('demos/hosting/images/pattern-dark.png') repeat center center;">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-5">
								<div class="heading-block mb-0 nobottomborder clearfix">
									<h3 class="ls0 nott">خدمة في يوم واحد</h3>
									<p class="mb-0">اترك الهاتف لنتصل بك, مركزية نحف لايصال أفضل خدمة للزبائن.</p>
								</div>
							</div>
							<div class="col-md-6 mt-4 mt-lg-0">
								<div class="input-group input-group-lg">
									<input type="text" class="form-control" placeholder="رقم الهاتف" aria-label="Enter Domain Name">
									<div class="input-group-append">
										<button class="btn bgcolor text-white dark">اشترك</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Loaction Section
				============================================= -->
				<div class="section nomargin nobg">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 700px">
							<h2>فقط في نحف</h2>
							<p>بسبب أن المشروع في الأصل هو حل لمشكلة الانترنت البطيء والمحطات المتقطعة بالجودة المنخفضة في نحف.</p>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-6">
								<div class="heading-block mt-md-3 mt-0">
									<div class="before-heading color">شبكة داخلية</div>
									<h3 class=" nott ls0">مركز عملائنا في نحف, مد خطوط وصنع شبكة ألياف البصرية, لا تتأثر بأي تشويش.</h3>
								</div>
								<div class="row">
									<div class="col-6">
									</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-6">
								<div id="hotspot-img" class="hotspot-img mt-2 responsive-hotspot-wrap">
							<img src="demos/hosting/images/svg/map.png" class="img-responsive" alt="">

							<!-- Circle #1 -->
							<div class="hot-spot" x="1475" y="530">
								<div class="circle"></div>
								<div class="tooltip"><p>نحف</p></div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Pricing Section
				============================================= -->
				<div class="section bg-angle notopmargin" style="background: #F9F9F9 url('demos/hosting/images/pattern-dark.webp') repeat center center; padding: 80px 0">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 750px">
							<h2>أختر خدمة واحصل على تسعيرة</h2>
							<p>اختر طلبيتك ويمكنك ارسالها فورا لمندوب للمساعدة. يمكنك طلب اكثر من خدمة واحدة.</p>
						</div>

						<div class="row mb-2 align-items-stretch">

							<div class="col-lg-8 col-md-8">

								<div class="row align-items-stretch clearfix">
									<div class="col-md-12">
										<!-- vCPU Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card mb-4">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h4 class="mb-4">انترنت</h4>
														</div>
														<!-- CPU Slider
														============================================= -->
														<input class="range-slider-cpu" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
												<div class="card-body">
													<!-- CPU Price Value
													============================================= -->
													<h2 class="cpu-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">50 شيكل <span class="font-italic">لكل 100 ميغا</span></p>
												</div>
											</div>
										</div>

										<!-- RAM Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card mb-4">
														<div class="card-body">
															<div>
																<input id="checkbox-1" class="checkbox-style" name="checkbox-1" type="checkbox" checked>
																<label for="checkbox-1" class="checkbox-style-3-label"> محطات فضائية</label>
															</div>
														</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
												<div class="card-body">
													<!-- RAM Proce Value
													============================================= -->
													<h2 class="ram-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">100 شيكل <span class="font-italic">ل200 محطة Full HD</span></p>
												</div>
											</div>
										</div>

										<!-- Storage Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card">
													<div class="card-body">
														<div>
															<input id="checkbox-2" class="checkbox-style" name="checkbox-2" type="checkbox" checked>
															<label for="checkbox-2" class="checkbox-style-3-label"> خط هاتف</label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center">
												<div class="card-body">
													<!-- Storage Price Value
													============================================= -->
													<h2 class="storage-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">20 شيكل <span class="font-italic">لكل خط هاتف</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<!-- Price Area -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 class="card-title t400">سعر الاشتراك</h3>
										<!-- Price Value -->
										<div class="pricing-price t600 py-2"></div>
										<p class="card-text pricing-sub">شهريا</p>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ml-0" style="opacity: .8">
											<li>انترنت سرعة غير محدودة</li>
											<li>خط هاتف امن وسليم</li>
											<li>محطات مشهورة بدون تقطيع</li>
											<li>خدمة ولا أسرع</li>
										</ul>
										<a href="#" class="button button-rounded button-large ls0 t400 m-0 nott">اكمل الطلب</a>
									</div>
								</div>
							</div>

						</div>

						<div class="clear"></div>

						<div class="row mt-5 clearfix">
							<div class="col-lg-3 col-sm-6">
								<h4 class="t500 mb-3">الانترنت يتضمن:</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="t300">سرعة دائمة, الطلب 100 اذا السرعة 100</a></li>
									<li><a href="#" class="t300">حماية ومراقبة للأعمار</a></li>
									<li><a href="#" class="t300">حساب مستخدم للمراقبة والتعديل</a></li>
									<li><a href="#" class="t300">تخفيض سعر المحطات الفضائية</a></li>
								</ul>
								<a href="/services1" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">المزيد &#8250;</a>
							</div>
							<div class="col-lg-3 col-sm-6 mt-4 mt-sm-0">
								<h4 class="t500 mb-3">من المحطات المشهورة</h4>
								<ul class="iconlist price-compare mb-2">
									<li><a href="#" class="t300">Bein Sports</a></li>
									<li><a href="#" class="t300">ערוצי ישראל</a></li>
									<li><a href="#" class="t300">محطات أطفال</a></li>
									<li><a href="#" class="t300">مسلسلات</a></li>
									<li><a href="#" class="t300">أفلام</a></li>
									<li><a href="#" class="t300">دقة عالية الجودة 1080 HD</a></li>
									<li><a href="#" class="t300">محطة خاصة لنحف.</a></li>
								</ul>
								<a href="/services3" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">والمزيد &#8250;</a>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>

				<%# <!-- Testimonials Section
				============================================= -->
				<div class="section">
					<div class="container">

						<div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
							<div class="before-heading">تعليقات الزبائن الكرام</div>
							<h2>50 بيت في نحف وكل يوم بزيد</h2>
						</div>

						<!-- Owl Carousel
						============================================= -->
						<div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

							<!-- Item 1 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="demos/hosting/images/users/1.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
										<div class="testi-meta">
											John Doe
											<span>XYZ Inc.</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 2 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="demos/hosting/images/users/2.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
									<div class="testi-content">
										<p class="font-body font-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Collis Ta'eed
											<span>Envato Inc.</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 3 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="demos/hosting/images/users/5.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
										<div class="testi-meta">
											Mary Jane
											<span>Google Inc.</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 4 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="demos/hosting/images/users/4.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
										<div class="testi-meta">
											Steve Jobs
											<span>Apple Inc.</span>
										</div>
									</div>
								</div>
							</div>

							<!-- Item 5 -->
							<div class="oc-item">
								<div class="testimonial p-4 noborder noshadow">
									<div class="testi-image">
										<a href="#"><img src="demos/hosting/images/users/3.jpg" alt="Customer Testimonails"></a>
									</div>
									<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
									<div class="testi-content">
										<p class="font-normal font-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
										<div class="testi-meta">
											Jamie Morrison
											<span>Adobe Inc.</span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div> %>

				<!-- Bottom Section
				============================================= -->
				<div class="section bgcolor dark m-0">
					<div class="container">
						<div class="row center justify-content-center">
							<div class="col-md-8">
								<h2 class="t700 text-white mb-3">اشترك الاّن واحصل على افضل خدمة اتصالات في اسرائيل.</h2>
							</div>
							<div class="col-md-8">
								<a href="/contact" class="button center bg-white color button-light button-rounded button-large ml-0">تواصل معنا</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

<% include partials/footer %>