<% include partials/header %>
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>خدمات انترنت</h1>
				<span>نقدم أفضل الخدمات</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">رئيسية</a></li>
					<li class="breadcrumb-item"><a href="#">الخدمات</a></li>
					<li class="breadcrumb-item active" aria-current="page">الانترنت</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<div class="container clearfix">

					<div class="col_one_third nobottommargin">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="images/services/1.webp" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>لماذا تخارنا؟<span class="subtitle">لأننا الأفضل</span></h3>
								<p>تخطيط لمدة سنوات طويلة, المشروع قد تم بسبب العمل المستمر. وما زلنا نعمل كل يوم لجعل نحف البلد الأول بمشروع فريد من نوعه, تسمع الناس عنه أول مرة.</p>
							</div>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="images/services/3.webp" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>مهمتنا.<span class="subtitle">تقدم تكنولوجي</span></h3>
								<p>رحلة الألف ميل تبدأ بخطوة واحدة, نريد أن نصل كل منزل في نحف لشبكة اتصالات مشتركة واحدة لكي نجعل من البلد مستقلة, ومن الشبكة نبني بلد حضارية مستقلة.</p>
							</div>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box media-box">
							<div class="fbox-media">
								<img src="images/services/2.webp" alt="Why choose Us?">
							</div>
							<div class="fbox-desc">
								<h3>نجاحنا<span class="subtitle">هو نجاح البلد</span></h3>
								<p>لأن الشركات الكبرى لا تهتم بالقرى الصغيرة. هذه المشكلة تمنع القرية من التقدم بمشاريعها الاسكانية, الثقافية, التجارية والحياتية....</p>
							</div>
						</div>
					</div>

				</div>

				<div class="section">

					<div class="container clearfix">

						<div class="heading-block center">
							<h2>انترنت بسرعة الضوء</h2>
							<span>تكتنولوجيا الألياف البصرية تصل الى نحف, شبكة داخلية مشتركة.</span>
						</div>

						<div class="col_full">

							<img data-animate="fadeIn" class="aligncenter" src="images/services/fiber-optic.webp" alt="Macbook">

						</div>

						<div class="col_one_third nobottommargin">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">1.</i></a>
								</div>
								<h3>قدرة كبيرة لنطاق واسع</h3>
								<p>نطاق الشبكة لكابل الألياف البصرية يتجاوز بسهولة نطاق الكابلات النحاسية المستعملة اليوم, حيث أن سرعة الانترنت 40, 60 أو حتى 100 جيغا تعد شيء بسيط وعادي عند استخدام كابل الألياف.</p>
							</div>

						</div>

						<div class="col_one_third nobottommargin">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">2.</i></a>
								</div>
								<h3>سرعة عالية</h3>
								<p>2)	كابل الألياف البصرية مصمم كي لا يفقد سرعته ضمن المسافات الطويلة, أي اذا تم توزيع 500 ميغا ضمن بيوت على مدار 1000 كيلو متر, فأن كل بيت سوف يحصل على سرعة 500 ميغا بدون أي تعزيز أو جهاز لتقوية الاشارة.</p>
							</div>

						</div>

						<div class="col_one_third nobottommargin col_last">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">3.</i></a>
								</div>
								<h3>تكنولوجيا مستقبلية</h3>
								<p>الألياف البصرية هي التكنولوجيا الموعودة, الشركات الكبيرة مثل Google وغيرها تستعملها وتستثمر بها الكثير. نحف سوف تتصدر المراتب العليا في القريب العاجل.</p>
							</div>

						</div>

					</div>

				</div>

				<div class="container clearfix">

					<div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
						<canvas id="chart-doughnut"></canvas>
					</div>

					<div class="col_three_fifth nobottommargin col_last">

						<div class="heading-block">
							<h3>وصول الألياف البصرية الى المنازل</h3>
							<span>العالم لا يبقى كما هو, يتم اختراع تكنولوجيا جديدة كل يوم.</span>
						</div>

						<p>يتم تثبيت تكنولوجيا الألياف البصرية لدعم الاتصالات بعيدة المدى بين المدن والبلدان،  ويستثمر بعض مزودي خدمات الإنترنت في بناء شبكات خاصة بهم إلى الأحياء والبلدان الصغيرة، مقدمو الخدمات والمهنيون في الصناعة يطلقون عليها اسم FTTH.</p>

						<p>Google Fiber الأمريكية, STC السعودية, Europe FTTH والكثير من الشركات الكبرى تعتمد على الألياف البصرية لحل توزيع الانترنت على القرى والمدن ضمن المسافات البعيدة.
						يمكن أن توفر هذه الخدمات سرعات إنترنت جيغابت وأكثر. مع ذلك ، فإنك تجد أن السرعة تصل الى مئات الميغا فقط, لأنه في العادة 100 ميغا تكفي لبيت واحد.
						</p>


					</div>


				</div>

				<!-- Pricing Section
				============================================= -->
				<div class="section bg-angle notopmargin" style="background: #F9F9F9 url('demos/hosting/images/pattern-dark.png') repeat center center; padding: 80px 0">
					<div class="container clearfix">
						<div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 750px">
							<h2>أختر السرعة واحصل على تسعيرة</h2>
							<p>اختر طلبيتك ويمكنك ارسالها فورا لمندوب للمساعدة.</p>
						</div>

						<div class="row mb-2 align-items-stretch">

							<div class="col-lg-8 col-md-8">

								<div class="row align-items-stretch clearfix">
									<div class="col-md-12">
										<!-- vCPU Section -->
										<div class="row align-items-stretch">
											<div class="col-md-8 col-sm-8">
												<div class="card mb-4">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h4 class="mb-4">انترنت</h4>
														</div>
														<!-- CPU Slider
														============================================= -->
														<input class="range-slider-cpu" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
												<div class="card-body">
													<!-- CPU Price Value
													============================================= -->
													<h2 class="cpu-price text-white mb-0 t700"></h2>
													<p class="card-text mb-0" style="opacity: .8;">50 شيكل <span class="font-italic">لكل 100 ميغا</span></p>
												</div>
											</div>
										</div>

									</div>
								</div>

							</div>

							<!-- Price Area -->
							<div class="col-lg-4 col-md-4 mt-4 mt-md-0">
								<div class="card text-center">
									<div class="card-body py-4">
										<h3 class="card-title t400">سعر الاشتراك</h3>
										<!-- Price Value -->
										<div class="pricing-price t600 py-2"></div>
										<p class="card-text pricing-sub">شهريا</p>
									</div>
									<div class="line my-1"></div>
									<div class="card-body py-4">
										<ul class="iconlist ml-0" style="opacity: .8">
											<li>انترنت سرعة غير محدودة</li>
											<li>خط هاتف امن وسليم</li>
											<li>محطات مشهورة بدون تقطيع</li>
											<li>خدمة ولا أسرع</li>
										</ul>
										<a href="#" class="button button-rounded button-large ls0 t400 m-0 nott">اكمل الطلب</a>
									</div>
								</div>
							</div>
						
						</div>
					</div>			
				</div>
				
		</section><!-- #content end -->
<% include partials/footer %>