<% include partials/header %>
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>محطات انترنت</h1>
				<span>نقدم أفضل الخدمات</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">رئيسية</a></li>
					<li class="breadcrumb-item"><a href="#">الخدمات</a></li>
					<li class="breadcrumb-item active" aria-current="page">قنوات HD</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

        <!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img class="icon-ok i-alt mb-2" src="images/services/bein.png">
							<h3>أشهر قنوات<span class="subtitle">أكثر من 50 قناة أطفال, مسلسلات ورياضة</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img class="icon-ok i-alt mb-2" src="images/services/fox.png">
							<h3>مسلسلات وأفلام<span class="subtitle">20 باللغة التركية, العربية الهندية, الأجنبية وغيرها</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img class="icon-ok i-alt mb-2" src="images/services/mbc.png">
							<h3>MBC HD<span class="subtitle">جميع قنوات الأم بي سي &amp;  بدقة عالية</span></h3>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img class="icon-ok i-alt mb-2" src="images/services/nat.png">
							<h3>10 قنوات الوثائقية<span class="subtitle">تاريخ, اكتشاف, ثقافة وجميع قنوات الطبيعة</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img class="icon-ok i-alt mb-2" src="images/services/news.png">
							<h3>قنوات اسرائيلية<span class="subtitle">أكثر من 20 قناة أخبار واخرى مشهورة</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<img height="80px" class="icon-ok i-alt mb-2" src="images/logo.png">
							<h3>قنوات نحف المحلية<span class="subtitle">3 قنوات جديدة مباشرة من نحف</span></h3>
						</div>
					</div>

				</div>

				<div class="section parallax nobottommargin noborder dark" style="height: 450px; padding: 120px 0;">

					<div class="vertical-middle center" style="z-index: 2;">
						<div class="container clearfix" data-animate="fadeInUp">
							<div class="heading-block nobottomborder nobottommargin">
								<h2 style="font-size: 42px;">أكثر من 200 قناة بأعلى دقة ممكنة</h2>
								<span class="d-none d-lg-block">اشتراك رسمي, دقة 1080 FULL HD, مباشر بدون تقطيع.</span>
							</div>
							<a href="#" class="button button-border button-rounded button-white button-light button-large noleftmargin nobottommargin" style="margin-top: 40px;">لائحة القنوات</a>
						</div>
					</div>

					<div class="video-wrap" style="z-index: 1;">
						<video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
							<source src='images/videos/explore.mp4' type='video/mp4' />
							<source src='images/videos/explore.webm' type='video/webm' />
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.1);"></div>
					</div>

				</div>

				<div class="container clearfix">

					<div class="pricing-box pricing-extended bottommargin clearfix">

						<div class="pricing-desc">
							<div class="pricing-title">
								<h3>على ماذا تحصل من باقة القنوات؟</h3>
							</div>
							<div class="pricing-features">
								<ul class="iconlist-color clearfix">
									<li><i class="icon-desktop"></i> أحدث الأجهزة الالكترونية</li>
									<li><i class="icon-eye-open"></i> رؤية بأعلى جودة </li>
									<li><i class="icon-beaker"></i> خدمة عملاء سريعة</li>
									<li><i class="icon-magic"></i> تحكم سهل بجميع القنوات</li>
									<li><i class="icon-font"></i> ترجمة للعربية, العبرية وأخرى</li>
									<li><i class="icon-stack3"></i> حساب شخصي لفحص البيانات</li>
								</ul>
							</div>
						</div>

						<div class="pricing-action-area">
							<div class="pricing-meta">
								As Low as
							</div>
							<div class="pricing-price">
								<span class="price-unit"></span>100<span class="price-tenure">شهريا</span>
							</div>
							<div class="pricing-action">
								<a href="#" class="button button-3d button-large btn-block nomargin">أطلب الان</a>
							</div>
						</div>

					</div>

				</div>

				<a href="#" class="button button-full center tright topmargin footer-stick">
					<div class="container clearfix">
						تريد مساعدة بالتسجيل؟ <strong>ابدأ هنا</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>

		</section><!-- #content end -->
<% include partials/footer %>